<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/header') %>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Hệ thống</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <form action="/admin/login" method="post" id="myForm">
                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="submitForm()" class="btn btn-primary btn-block">Sign
                                In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../layout/footer') %>
        <script>
            function submitForm() {
                const form = document.getElementById('myForm');
                const formData = new FormData(form);
                fetch('/admin/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams(formData)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        if(data.status){
                            window.location.href = data.url;
                        }else{
                            alert(data.msg);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>
</body>

</html>